<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfoly</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/vueWysiwyg.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@voerro/vue-tagsinput@1.11.2/dist/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@voerro/vue-tagsinput@1.8.0/dist/voerro-vue-tagsinput.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
    <div id="app">
        <navbar @get-regis-form="getRegisForm" @get-login-form="getLoginForm" @get-all-article="getAllArticle" @get-my-article="getMyArticle" @get-all-tag="getAllTag" :islogin="isLogin" :isgoogle="isGoogle" :name="name"></navbar>
        <div class="container">
            <regis-form v-if="position === 'register'"></regis-form>
            <login-form v-if="position === 'login'" @get-content="getContent"></login-form>
            <all-article v-if="position === 'allArticle'" @get-article-by-tag="getArticleByTag"></all-article>
            <my-article v-if="position === 'myArticle'" @get-article-by-tag="getArticleByTag"></my-article>
            <all-tag v-if="position === 'allTag'" @get-article-by-tag="getArticleByTag" :search="search"></all-tag>
        </div>
    </div>
    
    <script src="./js/vueWysiwyg.js"></script>
    <script src="./js/components/navbar.js"></script>
    <script src="./js/components/regisForm.js"></script>
    <script src="./js/components/loginForm.js"></script>
    <script src="./js/components/googleSignIn.js"></script>
    <script src="./js/components/allArticle.js"></script>
    <script src="./js/components/myArticle.js"></script>
    <script src="./js/components/allTag.js"></script>
    <script src="./js/index.js"></script>
    <script>AOS.init()</script>
</body>
</html>